h1 {
    border: 2px #000000 solid;
    color: red;
    text-align: center;
    padding: 10px;
}

#message_form {
    text-align: center;
    color: black
}

h2 {
    text-align: center;
    color: black
}

#submit_button {
    width: 20em;
    height: 4em;
}

p {
    color: black;
    text-align: center;
}